.react-select-container {
    .react-select__control {
        background-color: var(--black);
        border-color: var(--black);
        transition: none;

        &:hover {
            border-color: var(--black);
        }
    }

    .react-select__menu {
        background-color: var(--black);
        border: 1px solid var(--black);
    }

    .react-select__option {
        background-color: var(--black);

        &:hover {
            background-color: var(--black);
        }
    }

    .react-select__indicator-separator {
        background-color: var(--black);
    }

    .react-select__placeholder,
    .react-select__single-value {
        color: var(--black);
    }
}