.react-select-container {
    .react-select__control {
        background-color: var(--primary-container);
        border-color: var(--secondary-container);
        transition: none;
        height: 40px;

        &:hover {
            border-color: var(--primary-container);
            background-color: var(--secondary-container);
        }
    }

    .react-select__menu {
        background-color: var(--primary-container);
        border: 1px solid var(--secondary-container);
    }

    .react-select__option {
        background-color: var(--primary-container);

        &:hover {
            background-color: var(--secondary-container);
        }
    }

    .react-select__indicator-separator {
        background-color: var(--teriary-container);
    }

    .react-select__placeholder,
    .react-select__single-value {
        color: var(--text);
    }

    .react-select__multi-value,
    .react-select__multi-value__label {
        background: var(--secondary-container);
        color: var(--text);
    }
}