.Navbar{
    display: flex;
    flex-direction: row;
    min-height: 100vh;
}

.Navbar-Left{
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: sticky;
    height: 100vh;
    top: 0;
    width: 250px;
    background: var(--secondary-container);
    padding: 12px;
}

.Navbar-List{
    display: flex;
    flex-direction: column;
    margin-top: -250px;
}

.Navbar-List-Item{
    text-align: left;
    margin-top: 5px;
    padding: 5px;
    width: 95%;
    border-radius: 10px;
}

.Navbar-List-Item label{
    font-weight: bold;
    vertical-align: middle;
    color: var(--text);
}

.Navbar-List-Item img{
    width: 24px;
    margin: 5px;
    height: 24px;
}

.Navbar-List-Item:hover{
    background: var(--black);
}

.Workspace-Dropdown{
    width: 200px;
    height: 40px;
    background: var(--secondary-container);
    margin: 12px;
}

.Workspace-Dropdown-Item{
    width: 200px;
    color: var(--text);
    background: var(--secondary-container);
}

.Navbar-Container-Content{
    flex: 1;
    width: 100%;
    color: var(--text);
    background: var(--primary-container);
}

.Sign-Out{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    filter: invert(100%);
}

.Sign-Out button{
    width: 200px;
    height: 40px;
    border-radius: 10px;
    margin: 12px;
}

.Workspace-Button{
    width: 100%;
    height: 30px;
}