.Navbar{
    display: flex;
    flex-direction: row;
    min-height: 100vh;
}

.Navbar-Left{
    align-self: flex-start;
    position: sticky;
    height: 100vh;
    top: 0;
    width: 240px;
    background: var(--primary-container);
    padding: 12px;
}

.Navbar-List{
    display: flex;
    flex-direction: column;
}

.Navbar-List-Item{
    text-align: left;
    margin-top: 5px;
    padding: 5px;
    width: 100%;
    border-radius: 10px;
}

.Navbar-List-Item label{
    font-weight: bold;
    vertical-align: middle;
    color: var(--secondary-text);
}

.Navbar-List-Item img{
    width: 24px;
    margin: 5px;
    height: 24px;
    filter: invert(100%);
}

.Navbar-List-Item:hover{
    background: var(--black);
}

.Workspace-Dropdown{
    width: 200px;
    background: var(--primary-container);
    margin: 12px;
}

.Workspace-Dropdown-Item{
    width: 200px;
    color: var(--secondary-text);
    background: var(--secondary-container);
}

.Navbar-Container-Content{
    flex: 1;
    width: calc(100% - 240px);
    color: var(--text);
    background: var(--secondary-container);
}