
.Message-Block{
    display: flex;
    flex-direction: row;
}

.Message {
    position: relative;
    width: 100%;
    padding: 15px 15px;
    margin-bottom: 12px;
    border-radius: var(--rad) var(--rad) var(--rad) var(--rad);
    margin-left: auto;
    background: black;
    color: #fff;
}

.User-Image{
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

