.Type-Container{
    display: flex;
    flex-direction: row;
    justify-items: flex-start;
}

.Type{
    font-size: 12px;
    margin: 2px;
    display: inline-flex;
    padding: 2px 12px;
    overflow: hidden;
    position: relative;
    align-items: center;
    border-radius: 6px;
    color: black;
}