.Status-Container{
    display: flex;
    flex-direction: row;
    justify-items: flex-start;
    font-size: 16px;
    justify-content: space-between;
    margin-right: 12px;
}

.Status{
    margin: 2px;
    display: inline-flex;
    padding: 2px 12px;
    overflow: hidden;
    position: relative;
    align-items: center;
    border-radius: 16px;
    color: black;
}