.Header-Image-Container img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: 0 50%;
}

.Page-Content{
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.Page-Content-Header label{
    color: var(--secondary-text);
}

.Page-Content-Toolbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.Page-Content-Toolbar-Item{
    display: flex;
    flex-direction: row;
}

button{
    width: 125px;
    background: var(--primary-container);
}

.Modal-Footer button{
    width: 125px;
    background: var(--primary-container);
}

.Page-Content-Toolbar button{
    width: 125px;
    margin-top: 10px;
    align-items: flex-start;
}

.Page-Content-Toolbar-Select{
    margin-top: 10px;
    width: 200px;
    height: 35px;
}

.Button{
    margin-left: 10px;
}

.Page-Content-Data{
    margin-top: 20px;
}

.Page-Content-Data table{
}

.Cards {
    display: grid;

    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));

    grid-gap: 10px;
}
