::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--secondary-container);
}

::-webkit-scrollbar-thumb {
    background: var(--secondary-text);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--secondary);
}

.Primary-Button{
    background: var(--primary);
    border: var(--primary);
    color: var(--text);
    height: 40px;
}

.Primary-Button:hover{
    background: var(--primary-variant-darker);
    border: var(--primary-variant);
    color: var(--text);
}

.Primary-Button:active{
    background: var(--primary-variant-darker);
    border: var(--primary-variant);
    color: var(--text);
}

.Secondary-Button{
    background: var(--secondary);
    border: var(--secondary);
    color: var(--text);
    height: 40px;
}

.Outline-Button{
    border-color: var(--secondary-container);
    background: var(--primary-container);
    color: var(--text);
    height: 40px;
}

.Outline-Button label{
    margin: 5px;
    font-size: 12px;
}

.Outline-Button:hover{
    color: var(--text);
    border-color: var(--secondary-container);
    background: var(--secondary-container);
}