:root {
    --black: black;
    --white: white;
    --primary: #00A3FF;
    --secondary: #2E2E2E;
    --danger: red;
    --secondary-text: #7B7B7B;
    --secondary-text-variant: #777777;
    --secondary-dark: #1D1D1D;
}

.Primary-Button{
    background: var(--primary);
    border: var(--primary);
}

.Secondary-Button{
    background: var(--secondary);
}

.Outline-Button{
    color: var(--black);
    background: var(--white);
}

.Outline-Button:hover{
    color: var(--white );
    background: var(--black);
}