::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--secondary-dark);
}

::-webkit-scrollbar-thumb {
    background: var(--secondary-text);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--secondary);
}

.Primary-Button{
    background: var(--primary);
    border: var(--primary);
    color: var(--text);
}

.Primary-Button:hover{
    background: var(--primary-variant-darker);
    border: var(--primary-variant);
    color: var(--text);
}

.Secondary-Button{
    background: var(--secondary);
    color: var(--text);
}

.Outline-Button{
    border-color: var(--primary);
    background: var(--white);
    color: var(--black);
}

.Outline-Button:hover{
    color: var(--white );
    border-color: var(--primary);
    background: var(--primary);
}