:root {
    --black: black;
    --white: white;
    --danger: red;

    /*text*/
    --text: #F6F6F6;
    --secondary-text: #777777;

    /*main dark theme*/
    --primary: #065A60;
    --secondary: #4D194D;
    --teriary: #272640;

    /*error*/
    --error: #CC3B3B;
    --error-container: #FF5757;

    /*container*/
    --primary-container: #242424;
    --secondary-container: #444444;
    --teriary-container: #686868;

    --primary-light: #006466;
    --primary-variant: #0b525b;
    --primary-dark: #144552;
    --primary-variant-dark: #1b3a4b;
    --primary-variant-darker: #212f45;
    --secondary-variant: #312244;
    --secondary-variant-dark: #3e1f47;
}

.Icon{
    /*filter: invert(0);*/
}

