:root {
    --black: black;
    --white: white;
    --danger: red;

    /*text*/
    --text: black;
    --secondary-text: #777777;

    /*main dark theme*/
    --primary: #E63946;
    --secondary: #A8DADC;
    --teriary: #457B9D;

    /*error*/
    --error: #CC3B3B;
    --error-container: #F3ADAD;

    /*container*/
    --primary-container: #F5FFFF;
    --secondary-container: #EAF7FF;
    --teriary-container: #6D94AC;
}

.Icon{
    filter: invert(100%);
}