.Settings-Nav-Panel{
    width: 150px;
}

.Settings-Content{
    width: 600px;
    padding: 12px;
}

.Settings-Modal{
    width: 100%;

    max-width: 900px;
    min-width: 751px;

    color: var(--text);
}

.Settings-Modal-Body{
    display: flex;
    flex-direction: row;
    color: var(--text);
}

.Settings-Navbar-Left{
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: sticky;
    top: 0;
    width: 150px;
    height: 500px;
    background: var(--secondary-container);
    padding: 12px;
}