.Header-Image-Container img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: 0 50%;
}

.About-Content{
    display: flex;
    flex-direction: column;
    align-items: start;
}

.Header{
    margin: 20px;
}

.Header label{
    color: var(--secondary-text);
}

.Items{
    display: flex;
    flex-direction: row;
}

.Item-Block{
    margin: 20px;
}

.Item-Header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.Item-Header button{
    width: 40px;
    height: 40px;
    font-size: 18px;
    color: white;
}

.Item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
}

.Item button{
    width: 40px;
    height: 40px;
    font-size: 18px;
    color: white;
    margin: 0 10px;
}

.Item input{
    width: 40px;
    height: 40px;
    font-size: 18px;
}

.Item label {
    margin: 5px;
}

.Item input {
    margin: 0 10px;
}

.Workspace-Header{
    display: flex;
    flex-direction: column;
}

.Workspace-Header-Toolbar{
    display: flex;
    flex-direction: row;
    font-size: 28px;
}

.Workspace-Header-Toolbar a{
    margin-right: 12px;
    color: var(--text);
    text-decoration: none;
}